@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root{
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34,124,112,0.2);
  --secondary-light-2: rgb(127,183,126,0.1);
  --white: #fff;
  --black: #393e46;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    margin: 10;
    padding:0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar{
    display:flex;
    align-items: center;
    height: 70px;
    background-color: var(--white);
    padding: 0 8%;
  }

  .profile-dropdown{
    position: relative;
    width: fit-content;
  }
  
  .profile-dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    width: 175px;
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
  }

  .profile-dropdown-btn:hover{
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
  }

  .profile-img{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(../images/pic.png);
    background-size: cover;
  }

  .profile-img i{
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);  
  }

  .profile-dropdown-list{
    position: absolute;
    top: 68px;
    width: 250px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  .profile-dropdown-list.active{
    max-height: 500px;
    z-index: 99999999;
  }

  .profile-dropdown-btn span{
    margin: 0 0.5rem; 
    margin-right: 0;
  } 

  .profile-dropdown-list-item{
    padding: 0.5rem 0 0.5rem 0rem;
    transition: background-color 0.2s, padding-left 0.2s;
  }

  .profile-dropdown-list-item:hover{
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
  }

  .profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
  }

  .profile-dropdown-list-item a i{
    margin-right: 1rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    border-radius: 50%;
  }

  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px; 
  }
  
  .sidebar-list-item:hover{
    background-color: rgba(255, 255, 255, 0.2); 
    cursor: pointer;
  }

  .sidebar-list-item.active{
    background-color: rgba(255, 255, 255, 0.2);   
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: #1d2634;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    /* padding: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }

  .main{
    margin: 0;
    padding: bottom !important;
  }

  .boom{
    margin: 40px;
  }


.gender{
    line-height: 2em;
}

.error{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}